html {
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}
header {
    font-size: 36px;
    color: black;
    text-align: center;
    width: 100%;
}
article {
    text-align: left;
    font-size: 18px;
    width: 70%;
    padding: 1%;
}
aside {
    text-align: center;
    font-size: 16px;
    width: 25%;
    padding: 1%;
    float: right;
}
footer {
    width: 100%;
}